In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [5]:
df = pd.read_csv('Iris.csv')

In [6]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [14]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [28]:
df['Species'].replace({'Iris-setosa':1, 'Iris-versicolor':2 ,'Iris-virginica':3}, inplace = True)

In [31]:
df.drop('Id',axis=1,inplace=True)

In [32]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        1
1              4.9           3.0            1.4           0.2        1
2              4.7           3.2            1.3           0.2        1
3              4.6           3.1            1.5           0.2        1
4              5.0           3.6            1.4           0.2        1
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        3
146            6.3           2.5            5.0           1.9        3
147            6.5           3.0            5.2           2.0        3
148            6.2           3.4            5.4           2.3        3
149            5.9           3.0            5.1           1.8        3

[150 rows x 5 columns]

In [33]:
x=df.drop('Species',axis=1)
y= df['Species']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [38]:
x_train,x_test,y_train,y_test= train_test_split(x,y, random_state=2, test_size=0.25, stratify=y)

In [39]:
x_train.shape, x_test.shape, y_train.shape,y_test.shape

((112, 4), (38, 4), (112,), (38,))

In [40]:
logi_model= LogisticRegression()
logi_model.fit(x_train,y_train)

LogisticRegression()

In [42]:
logi_model.score(x_test,y_test)

1.0

In [43]:
logi_model.score(x_train,y_train)

0.9732142857142857

In [45]:
y_pred=logi_model.predict(x_test)

In [46]:
y_pred

array([2, 3, 3, 3, 1, 2, 2, 3, 2, 3, 2, 1, 3, 3, 2, 1, 1, 2, 1, 3, 3, 1,
       3, 2, 1, 2, 1, 3, 1, 2, 1, 2, 1, 2, 3, 2, 1, 1], dtype=int64)

In [47]:
y_test

82     2
140    3
100    3
136    3
11     1
84     2
59     2
128    3
97     2
139    3
96     2
40     1
127    3
120    3
91     2
31     1
7      1
93     2
22     1
122    3
126    3
46     1
111    3
58     2
21     1
95     2
43     1
143    3
44     1
69     2
45     1
60     2
34     1
62     2
144    3
76     2
8      1
18     1
Name: Species, dtype: int64

In [48]:
accuracy_score(y_test,y_pred)

1.0

In [50]:
confusion_matrix(y_test,y_pred)

array([[13,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 12]], dtype=int64)

In [52]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        13
           3       1.00      1.00      1.00        12

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38

In [54]:
with open ('logi_model.pkl','wb') as file:
    pickle.dump(logi_model,file)

In [56]:
species = {'Iris-setosa':1, 'Iris-versicolor':2 ,'Iris-virginica':3}

In [57]:
Dict = {"columns" : ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    "result_values": species
     }
with open("asset.json",'w') as file:
    json.dump(Dict,file)